input {
  font-size: 15px;
  width: 226px;
}

button {
  transition-duration: 0.4s;
  font-family: Constantia;
  border-color: red;
  border-width: 3px;
  color: white;
  background-color: rgb(255, 0, 0);
}

button:hover {
  cursor: pointer;
}
